node_modules/
dist/
figma-make-kit/
pnpm-lock.yaml
pnpm-workspace.yaml
__figma__entrypoint__.ts
default_shadcn_theme.css
.figma/
.mcp.json
.npmrc
src/styles/globals.css
src/styles/theme.css
src/index.ts
